<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Active Polls</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="main-content">
        <h1>Active Polls</h1>

        <% if (successMessage) { %>
            <p class="message"><%= successMessage %></p>
        <% } %>

        <a href="/createPoll" class="action-button">Create a New Poll</a>

        <% if (polls.length === 0) { %>
            <p class="no-polls-message">No active polls available. Create one now!</p>
        <% } else { %>
            <ul id="polls">
                <% polls.forEach((poll) => { %>
                    <li class="poll-container">
                        <h2><%= poll.question %></h2>
                        <ul class="poll-options">
                            <% for (let { answer, votes } of poll.options) { %>
                                <li>
                                    <strong><%= answer %>:</strong> <%= votes %> votes
                                </li>
                            <% } %>
                        </ul>
                        <form class="poll-form" method="POST" action="/vote">
                            <% for (let { answer } of poll.options) { %>
                                <button class="action-button" type="submit" value="<%= answer %>" name="poll-option">
                                    Vote for <%= answer %>
                                </button>
                            <% } %>
                            <input type="hidden" name="poll-id" value="<%= poll._id %>">
                        </form>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </div>

    <script src="/frontend.js" type="application/javascript"></script>
</body>
</html>
